<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US" prefix="og: https://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US" prefix="og: https://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US" prefix="og: https://ogp.me/ns#"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en-US" prefix="og: https://ogp.me/ns#"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="pingback" href="http://www.hinckleyvideo.com/xmlrpc.php" />
<title>Get Your FREE Gordon B. Hinckley DVD &quot;A Giant Among Men&quot;</title>

<link rel="shortcut icon" href="https://www.hinckleyvideo.com/wp-content/uploads/2015/04/Hinckley-DVD-FB-200x200.jpg" />

<link rel="alternate" type="application/rss+xml" title=" &raquo; Feed" href="https://www.hinckleyvideo.com/feed/" />
<link rel="alternate" type="application/rss+xml" title=" &raquo; Comments Feed" href="https://www.hinckleyvideo.com/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"www.hinckleyvideo.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.2"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<%= stylesheet_link_tag "minimalist.min.css" %>
<%= stylesheet_link_tag "mediaelementplayer.min.css" %>
<%= stylesheet_link_tag "jquery.fancybox.min.css" %>
<%= stylesheet_link_tag "wp.css" %>
<%= stylesheet_link_tag "style.min.css" %>
<%= stylesheet_link_tag "default.min.css" %>
<script type='text/javascript'>
/* <![CDATA[ */
var OptimizePress = {"ajaxurl":"\/\/www.hinckleyvideo.com\/wp-admin\/admin-ajax.php","SN":"optimizepress","version":"2.4.0","script_debug":".min","localStorageEnabled":"","wp_admin_page":"","op_live_editor":"1","imgurl":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/images\/","OP_URL":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/","OP_JS":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/js\/","OP_PAGE_BUILDER_URL":"","include_url":"http:\/\/www.hinckleyvideo.com\/wp-includes\/","op_autosave_interval":"300","op_autosave_enabled":"N","paths":{"url":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/","img":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/images\/","js":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/js\/","css":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/css\/"},"social":{"twitter":"optimizepress","facebook":"optimizepress","googleplus":"111273444733787349971"},"flowplayerHTML5":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/modules\/blog\/video\/flowplayer-5.5.0\/flowplayer.swf","flowplayerKey":"","flowplayerLogo":"","flowplayer":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/modules\/blog\/video\/flowplayer\/flowplayer-3.2.7.swf","flowplayer_control":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/modules\/blog\/video\/flowplayer\/flowplayer.controls-3.2.5.swf","mediaelementplayer":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/modules\/blog\/video\/mediaelement\/","pb_unload_alert":"This page is asking you to confirm that you want to leave - data you have entered may not be saved.","pb_save_alert":"Please make sure you are happy with all of your options as some options will not be able to be changed for this page later."};
/* ]]> */
</script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.hinckleyvideo.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.hinckleyvideo.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.2.2" />
<link rel='shortlink' href='http://www.hinckleyvideo.com/?p=247' />
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-61855401-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('http:' == document.location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

        <!--[if (gte IE 6)&(lte IE 8)]>
        <script type="text/javascript" src="https://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/selectivizr-1.0.2-min.js?ver=1.0.2"></script>
        <![endif]-->
        <!--[if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

            <style type="text/css" id="op_header_css">
            p, .single-post-content li, #content_area li, .op-popup-button .default-button{font-size:15px;font-family:"Asap", sans-serif;color:#444}a, blockquote{font-family:"Asap", sans-serif}h1,.main-content h1,.single-post-content h1,.full-width.featured-panel h1,.latest-post .the-title{font-family:"Asap", sans-serif}h2,.main-content h2,.single-post-content h2,.op-page-header h2,.featured-panel h2,.featured-posts .post-content h2,.featured-posts .post-content h2 a,.latest-post h2 a{font-family:"Asap", sans-serif}h3,.main-content h3,.single-post-content h3{font-family:"Asap", sans-serif}h4,.main-content h4,.single-post-content h4,.older-post h4 a{font-size:18px;font-family:"Asap", sans-serif;color:#3b3b3b}.site-description{font-family:"Asap", sans-serif}.banner .site-description{font-family:"Asap", sans-serif}
            </style>
            <style type="text/css">/* CUSTOM CODE REQUIRED FOR THIS TEMPLATE DO NOT TOUCH */

.banner .logo img{width:200px;}
.banner{padding:30px 0;}
.optbox{padding-top:20px;background:#fff;border:1px solid #ececec;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

.optin-box-6 .text-box {
padding:12px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

.optin-box-6 .text-box input {font-size:13px;}
.feature-box-4 .feature-box-content {
padding: 25px 36px;
padding-top: 25px;
padding-bottom: 10px;}

.navigation-sidebar-7 li a {padding-left:0px;}

/* END CUSTOM CODE REQUIRED FOR THIS TEMPLATE DO NOT TOUCH */</style>
<link href="https://fonts.googleapis.com/css?family=Open Sans:300,r,b,i,bi|Asap:r,b,i,bi" rel="stylesheet" type="text/css" /></head>
<body class="page page-id-247 page-template-default op-live-editor-page op-theme">
    <div class="container main-content">
                <div class="banner centered-banner" style="background-color:#290d05">
            <div class="fixed-width cf">
                <h1 class="banner-logo"><a href="https://www.hinckleyvideo.com/" title="" rel="home"><img src="http://hinckleyvideo.com/wp-content/uploads/2015/04/Hinckley-Living-Scriptures-banner2-960x200-.jpg" alt="" /></a></h1>            </div>
        </div>
        <div id="content_area" class="">
                    <div style='background:#efefef;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #efefef));background:-webkit-linear-gradient(top, #efefef 0%, #efefef 100%);background:-moz-linear-gradient(top, #efefef 0%, #efefef 100%);background:-ms-linear-gradient(top, #efefef 0%, #efefef 100%);background:-o-linear-gradient(top, #efefef 0%, #efefef 100%);background:linear-gradient(to bottom, #efefef 0%, #efefef 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#efefef, GradientType=0);padding-bottom:0px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row one-column cf ui-sortable section" id="le_body_row_1" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNlZmVmZWYiLCJiYWNrZ3JvdW5kQ29sb3JFbmQiOiIjZWZlZmVmIiwicGFkZGluZ0JvdHRvbSI6IjAiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
                        <div class="fixed-width">
                        <div class="one-column column cols" id="le_body_row_1_col_1"><div class="element-container cf" data-style="" id="le_body_row_1_col_1_el_1"><div class="element">
                <div class="image-caption" style='width:840px;margin-top:0px;margin-bottom:px;margin-right:auto;margin-left:auto;'><img alt="" src="//hinckleyvideo.com/wp-content/uploads/2015/04/KSL-BYU-Crediblity-Banner-4-860-x-72.png" border="0" class="full-width" /></div>
             </div></div></div></div></div>
                    <div style='background:#ffffff;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row three-columns cf ui-sortable" id="le_body_row_2" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNmZmZmZmYiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
                        <div class="fixed-width">
                        <div class="two-thirds column cols" id="le_body_row_2_col_1"><div class="element-container cf" data-style="" id="le_body_row_2_col_1_el_1"><div class="element"> <h2 style='font-size:34px;color:#28689f;text-align:left;'><h3 style="text-align: center;"></h3></h2> </div></div><div class="element-container cf" data-style="" id="le_body_row_2_col_1_el_2"><div class="element">  </div></div><div class="element-container cf" data-style="" id="le_body_row_2_col_1_el_3"><div class="element"> <div id="op_img_text_aside_op_assets_core_img_text_aside_089a8447056b01d482cb82fb46352b1c" class="image-text-style-2">
	<span class="image-text-style-img-container"><img src="http://hinckleyvideo.com/wp-content/uploads/2015/04/Hickley-DVD-Details.jpg" width="364" height="364" class="scale-with-grid" /></span>	<span class="image-text-align-center">
		<h3>Thank You For Requesting Your Free Gordon B. Hinckley DVD.  CALL 800-727-0828</h3>
		<span class="image-text-aside-text"><p>In order to ensure that we have your correct shipping information please contact us at 800-727-0828 to verify the information today and we will get the free DVD shipped out to you right away. Remember, this DVD is completely free with no charge for shipping and no purchase is required.</p>
<p>Thank you again and we will look forward to hearing from you soon to verify your address.</p>
</span>
	</span>
	</div> </div></div></div>
                        <div class="one-third column cols narrow" id="le_body_row_2_col_2"><div class="element-container cf" data-style="" id="le_body_row_2_col_2_el_1"><div class="element"> <div class="guarantee-box-12 guarantee-box-12-orange">
	<img class="guarantee-box-12-header" src="//www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/guarantee_box/style-5-top-orange.png" alt="style-5-top-orange" width="552" height="87" />
	<div class="guarantee-box-internal">
		<h2>THE DVD IS ABSOLUTELY FREE</h2>
		<p>Give us a call now to confirm your request for your free DVD.  No strings attached.</p>
	</div>
	<img class="guarantee-box-12-footer" src="//www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/guarantee_box/style-5-bottom.png" alt="style-5-bottom" width="552" height="63" />
</div> </div></div></div></div></div>
                    <div style='background:#efefef;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row two-columns cf ui-sortable section" id="le_body_row_3" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNlZmVmZWYiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
                        <div class="fixed-width">
                        <div class="one-half column cols" id="le_body_row_3_col_1"><div class="element-container cf" data-style="" id="le_body_row_3_col_1_el_1"><div class="element">
<blockquote id="testimonial-faea5ef87264ed0937274d371da7f445" class="testimonial testimonial-image-style-2">
	<img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Shaw-Family-Tesimonials-75-x-93-template.jpg" />
	<img width="27" height="18" class="quote-tip" alt="" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png">
	<div class="testimonial-content">
		<p><strong>THE BEST GIFT FOR YOU FAMILY!</strong><br />
<br />
"They are so exciting and really good. Now that I'm grown and have kids of my own, I have purchased the DVD's and absolutely LOVE them. They are worth every penny. I can't say enough how these are the best movies you could ever get for your family and you will cherish them!"</p>		<cite><strong>Janet Shaw</strong> <br />
							<span class="op-testimonial-company"></span>
					</cite>
	</div>
</blockquote>
<blockquote id="testimonial-3626e9a63dd85534acf0f314cae7e992" class="testimonial testimonial-image-style-2">
	<img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Bawden-Family-Tesimonials-75-x-93-template.jpg" />
	<img width="27" height="18" class="quote-tip" alt="" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png">
	<div class="testimonial-content">
		<p><strong>INVALUABLE</strong><br />
<br />
"These movies were INVALUABLE in our children's learning of these wonderful stories.We would highly recommend to anyone who is considering this investment to do so, and we know you will find great things come to your family as well.<br />
<br />
Happy Scripture Learning!"</p>		<cite><strong>The Ken Bawden Family</strong> <br />
							<span class="op-testimonial-company"></span>
					</cite>
	</div>
</blockquote> </div></div></div>
                        <div class="one-half column cols" id="le_body_row_3_col_2"><div class="element-container cf" data-style="" id="le_body_row_3_col_2_el_1"><div class="element">
<blockquote id="testimonial-762310b9f0febf24b42dd5ec00905e77" class="testimonial testimonial-image-style-2">
	<img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Cleverly-Family-Tesimonials-75-x-93-template.jpg" />
	<img width="27" height="18" class="quote-tip" alt="" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png">
	<div class="testimonial-content">
		<p><strong>AMAZED BY THE KNOWLEDGE</strong><br />
<br />
" I am constantly amazed by the knowledge they have gained from watching the bible stories acted out. Even better, my husband and I like watching them also. The movies are kid friendly, but the content is not "dumbed down". I would recommend this addition to anyone."</p>		<cite><strong>Kate Cleverly</strong> <br />
							<span class="op-testimonial-company"></span>
					</cite>
	</div>
</blockquote>
<blockquote id="testimonial-00f5642609b61e571561934e90a3da80" class="testimonial testimonial-image-style-2">
	<img alt="" src="" />
	<img width="27" height="18" class="quote-tip" alt="" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png">
	<div class="testimonial-content">
		<p><strong>AWARD WINNING PRODUCTION STYLE</strong><br />
<br />
"Awesome story of Pres. Hinckley. As a professional producer, this film quality is a top-notch, "hollywood style" production. They actually filmed on-location at President Hinckley's boyhood home. The movie is also narrated by President Hinckley's journal recordings they got from the church archives. "</p>		<cite><strong>Brandon Flint</strong> <br />
							<span class="op-testimonial-company"></span>
					</cite>
	</div>
</blockquote> </div></div></div></div></div>
                    <div style='background:#290d05;padding-top:0px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row two-columns cf ui-sortable" id="le_body_row_4" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiMyOTBkMDUiLCJwYWRkaW5nVG9wIjoiMCIsImJvcmRlclRvcFdpZHRoIjoiIiwiYm9yZGVyVG9wQ29sb3IiOiIiLCJib3JkZXJCb3R0b21XaWR0aCI6IiIsImJvcmRlckJvdHRvbUNvbG9yIjoiIiwiYWRkb24iOnt9fQ==">
                        <div class="fixed-width">
                        <div class="one-half column cols" id="le_body_row_4_col_1"><div class="element-container cf" data-style="" id="le_body_row_4_col_1_el_1"><div class="element">
                <div class="image-caption" style='width:364px;margin-top:0px;margin-bottom:px;margin-right:auto;margin-left:auto;'><img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/Hickley-DVD-Details.jpg" border="0" class="full-width" /></div>
             </div></div></div>
                        <div class="one-half column cols" id="le_body_row_4_col_2"><div class="element-container cf" data-style="" id="le_body_row_4_col_2_el_1"><div class="element"> <div class="op-text-block" style="width:100%;text-align: left;padding-top:20px;"><p style='font-size:30px;color:#eaba50;'>Gordon B. Hinckley <strong>"A GIANT AMONG MEN" FREE DVD:</strong></p>
</div> </div></div><div class="element-container cf" data-style="" id="le_body_row_4_col_2_el_2"><div class="element"> <ul class="bullet-list 1" ><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>Narrated by Gordon B. Hinckley</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>Amazing stories from his personal journal</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>DVD Run Time 53 Minutes</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>Produced with archival permission granted from The Church of Jesus Christ of Latter-day Saints</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>Directed by T.C. Christensen, who brought you "17 Miracles",  "The Testaments", "Ephraim's Rescue", "The Work and the Glory" and "Praise to the Man"</li></ul> </div></div></div></div></div>
                    <div style='background:#efefef;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row three-columns cf ui-sortable section" id="le_body_row_5" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNlZmVmZWYiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
                        <div class="fixed-width">
                        <div class="one-third column cols narrow" id="le_body_row_5_col_1"><div class="element-container cf" data-style="" id="le_body_row_5_col_1_el_1"><div class="element">
                <div class="image-caption" style='width:300px;margin-top:0px;margin-bottom:px;margin-right:auto;margin-left:auto;'><img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/LOGO-Grey-BG.jpg" border="0" class="full-width" /></div>
             </div></div></div>
                        <div class="two-thirds column cols" id="le_body_row_5_col_2"><div class="element-container cf" data-style="" id="le_body_row_5_col_2_el_1"><div class="element"> <h2 class="headline-style-3" style='text-align:center;margin-top:6px;'>About Living Scriptures</h2> </div></div></div></div></div>
                    <div style='background:#efefef;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row two-columns cf ui-sortable section" id="le_body_row_6" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNlZmVmZWYiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
                        <div class="fixed-width">
                        <div class="one-half column cols" id="le_body_row_6_col_1"><div class="element-container cf" data-style="" id="le_body_row_6_col_1_el_1"><div class="element"> <ul class="feature-block feature-block-style-icon feature-block-with-icon feature-block-one-col cf">
                    <li><div><span class="feature-block-icon-container"><img class="feature-block-icon" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/425.png" /></span><h2>Over 11 Million Sold</h2><p>We have sold over 11 Million DVD&#8217;s, Videos and Tapes.</p>

                            </div></li>

                    <li><div><span class="feature-block-icon-container"><img class="feature-block-icon" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/445.png" /></span><h2>Living Scriptures Founded in 1974</h2><p>We’ve been in business since 1974.</p>

                            </div></li>
                     </ul> </div></div></div>
                        <div class="one-half column cols" id="le_body_row_6_col_2"><div class="element-container cf" data-style="" id="le_body_row_6_col_2_el_1"><div class="element"> <ul class="feature-block feature-block-style-icon feature-block-with-icon feature-block-one-col cf">
                    <li><div><span class="feature-block-icon-container"><img class="feature-block-icon" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/Online-Presence.png" /></span><h2>41 Years in Business</h2><p>It has been our pleasure to serve our customers for over 41 Years.</p>

                            </div></li>

                    <li><div><span class="feature-block-icon-container"><img class="feature-block-icon" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/76.png" /></span><h2>Teaching Values and Changing Lives</h2><p>We are passionate about teaching values and changing people&#8217;s lives!</p>

                            </div></li>
                     </ul> </div></div></div></div></div>
                    <div style='background:#2f3236;padding-top:20px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row one-column cf ui-sortable" id="le_body_row_7" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiMyZjMyMzYiLCJwYWRkaW5nVG9wIjoiMjAiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
                        <div class="fixed-width">
                        <div class="one-column column cols" id="le_body_row_7_col_1"><div class="element-container cf" data-style="" id="le_body_row_7_col_1_el_1"><div class="element"> <div class="op-text-block" style="width:100%;text-align: left;"><p style='font-family:"Open Sans", sans-serif;text-align: center;'><span style="color: #ffffff;">© Living Scriptures™ 2015 | 3625 Harrison Blvd. Ogden, UT 84403 | 1-800-727-0828</span></p>
</div> </div></div><div class="element-container cf" data-style="" id="le_body_row_7_col_1_el_2"><div class="element"> <div class="op-custom-html-block"><!-- Google Code for Adwords Lead Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 956163937;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "IpBzCJ39oVsQ4c73xwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/956163937/?label=IpBzCJ39oVsQ4c73xwM&guid=ON&script=0"/>
</div>
</noscript></div> </div></div></div></div></div></div>    </div><!-- container -->
</body>
</html>
